ignore2.py
ignorenpzconvert.py
.ipynb_checkpoints/*
**/.vs/*
.vscode/*
dist/*
doc/build/*
**/__pycache__/*
**/htmlcov/*
**/temp/*
**/tempdir/*
pysnptools/runs/*
**/.work_directory.*/*
**/runs/*
pysnptools/util/Untitled-1.ipynb
pysnptools/util/filecache/localcache1/*
pysnptools/util/filecache/peertopeer1/*
pysnptools.egg-info/*
**/tempdircmk/*
**/UpgradeLog.htm
**/*.pyproj.user
**/deldir/*
**/.coverage
**/ignore/*
**/*.temp
pysnptools/snpreader/2500x500000.sample
pysnptools/examples/example.bgen.metadata2.mmm
pysnptools/examples/bits1.bgen.metadata2.mmm
doc/ipynb/mergecache.npz
