scipy>=1.1.0
numpy>=1.11.3
psutil>=5.6.7
pandas>=1.1.1
h5py>=2.10.0
cloudpickle>=2.2.0
wheel>=0.34.2
bed-reader[samples]>=1.0.5b3 # cmk
more-itertools>=8.7.0

# Optional dependencies for BGEN support
# cbgen >= 1.0.4
# bgen-reader>=4.0.8
